<h1>Bienvenue dans create bitch</h1>

<p>Rentrez votre chef d'oeuvre d'inspiration</p>

<%= form_tag "/pages/create", method: :post do %>
  <textarea rows="5" name="content" placeholder="Votre citation"></textarea>
  <input type="submit" value="Poster">
<% end %>