// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #243A53;
    color: white;

    a {
        color: #E15D32;
    }
}

header {
	background-color: #4C7091;
    border: 2px, solid, black;
    border-radius: 10px;

    h1, h2 {
        margin-top: 2vh;
        margin-bottom: 2vh;
        color: #E15D32;
    }
	
    input {
        width: 100px;
    }

    .login-form {
        margin-top: 2vh;
    }
}

section {
    margin-top: 4vh;

    h3 {
        color: #E15D32;
        font-size: 2em;
    }

    .quote-box {
        background-color: #4C7091;
        border: 1px, solid, black;
        border-radius: 10px;
        margin-top: 4vh;
        padding: 1vh;
        text-align: right;

        .quote-text {
            text-align: center;
            font-size: 1.4em;
        }
    }
}
