// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #243A53;
    color: white;

    a {
        color: #E15D32;
    }
}

header {
	background-color: #4C7091;

    h1, h2 {
        margin-top: 2vh;
        margin-bottom: 2vh;
        color: #E15D32;
    }
	
    input {
        width: 100px;
    }

    .login-form {
        margin-top: 2vh;
    }
}
